@extends('panel.panel')

@block('title', 'Hjælp - Paradis Admin')

@block('username', $account['name'])

@block ('content')
	<div class="row">
	  <div class="col-xs-12">
			
		<div class="title-container">
		  <h2>Hjælp</h2>
		  <h3>Her finder du en række videoer der kan hjælpe dig igang</h3>
		</div>

		<div class="row">
			<div class="col-xs-12 video">
				<h6>Hvordan opretter jeg butikker?</h6>
				<iframe src="https://www.youtube-nocookie.com/embed/0IMxbxbhDMY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 video">
				<h6>Hvordan opretter jeg produkter?</h6>
				<iframe src="https://www.youtube-nocookie.com/embed/CfXDNCNH9MY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 video">
				<h6>Hvordan aktiverer jeg produkter?</h6>
				<iframe src="https://www.youtube-nocookie.com/embed/mjcBoVE0zls" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 video">
				<h6>Hvordan ændrer jeg brugernavn og kodeord?</h6>
				<iframe src="https://www.youtube-nocookie.com/embed/4wBI2AEzYAs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
			
	  </div>
	</div>
@endblock